@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.header {
  height: 56px;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 8.88%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.guidebutton {
  padding: 8px;
}
.guidebutton img {
  width: 24px;
  height: 24px;
}
.ytlogo {
  padding: 18px;
}
.ytlogo img {
  width: 90px;
  height: 20px;
}
.search {
  width: 29.8476%;
}
.signin {
  width: 11.82%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.menubutton {
  padding: 8px;
}
.menubutton img {
  width: 24px;
  height: 24px;
}
.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96.61px;
  height: 34px;
  border-radius: 20px;
  border: 1px lightgrey solid;
  margin-right: 20px;
}
.yt-spec-icon-shape svg{
  width: 24px;
  height: 24px;
}
.yt-spec-button-shape-next__icon {
  margin-left: 6px;
  margin-right: 6px;
  color: #065fd4;
  width: 24px;
  height: 24px;
  line-height: 0;
  line-height: 0;
  fill: currentColor;
}
.signintext {
  color: #065fd4;
  text-transform: none;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 36px;
  white-space: nowrap;
  margin-right: 10px;
}
.maincontent{
  position: fixed;
  top: 56px;
  left: 120px;
}
.bodycontainer{
  display: flex;
}
.wrapper{
  top: 56px;
  background-color: white;
  z-index: 2000;
  justify-content: center;
}
.content{
  padding: 0 24px;
  display: flex;
  flex-direction: row;  
  left: 0;
}
.leftarrow{
  display: none;
}
.leftarrowbutton{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.icon{
  color: #030303;
}
.icon svg{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  fill: currentColor;
  stroke: none;
  width: 24px;
  height: 24px;
}
.scrollcontainer{
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  right: 0;
  max-width: 1720px;
}
.selector{
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(.05,0,0,1);
  will-change: transform;
  display: inline-block;
  white-space: nowrap;
  transform: translateX(0px);
}
.feedfilter1{
  background-color: #030303;
  color: white;
  size-adjust: 32px;
  height: 32px;
  border-radius: 8px;
  margin: 12px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
.feedtext1{
  max-width: 20rem;
}
.scrollcontainer p{
  color: black;
  margin: 0;
}
.feedtext1 p{
  color: white;
}
.feedfilter{
  background-color: rgba(0, 0, 0, 0.05);
  color: #030303;
  size-adjust: 32px;
  height: 32px;
  border-radius: 8px;
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
.rightarrowbutton{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rightarrow{
  display: flex;
}
.guidebar{
  width: 120px;
  background-color: #065fd4;
  margin-left: 0;
}